.titulo {
  font-size: 1.8rem;
  &.separador {
    display: flex;
    justify-content: center;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--corDestaque);
      bottom: -10px;
    }
  }
}