.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 75vh;
  img {
    width: 19vw;
    max-width: 300px !important;
    min-width: 200px;
  }

  @media (max-width: 1024px) {
    img {
      display: none;
    }
  }
}