.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  min-height: 90vh;
  padding: 50px 0px 0px 0px;
  img {
    width: 37vw;
    max-width: 700px !important;
    min-width: 200px;
  }
  .textoEImagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1024px) {
    img {
      display: none;
    }
  }
}