.conteiner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  & > div {
    background-color: var(--projeto01);
    background-image: url("../../../../img/projeto/fundo_p1.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 1024px) {
      background-size: cover;
    }
    &:nth-child(2) {
      background-color: var(--projeto02);
      background-image: url("../../../../img/projeto/fundo_p2.png");
    }
    &:nth-child(3) {
      background-color: var(--projeto03);
      background-image: url("../../../../img/projeto/fundo_p3.png");
    }
  }

  @media (max-width: 1024px) {
    padding: 20px 0px;
  }
}
