.conteiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  gap: 70px;
  .conteudo {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
}