.conteiner {
  position: absolute;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--corDestaque);
  padding: 24px 41px;
  border-radius: var(--borderRadius);
  color: var(--branco);
  font-weight: 400;
  gap: 23px;
  .frase {
    max-width: 600px;
  }
  .button {
    background-color: var(--branco);
    text-decoration: none;
    color: var(--corDestaque);
    padding: 10px 20px;
    border-radius: var(--borderRadius);
    transition: all .2s ease;
    &:hover {
      background-color: var(--corTexto);
    }
  }
  @media (max-width:768px) {
    max-width: 500px;
    flex-direction: column-reverse;
    align-items: center;
    .frase {
      font-size: .9rem;
      text-align: center;
    }
  }
}
