.formulario {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 38px 36px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: var(--borderRadius);
  width: 50%;
  max-width: 680px;
  .campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    label {
      display: flex;
      flex-direction: column;
      gap: 7px;
      color: #fafafa;
      font-size: 1.1rem;
      width: 100%;
      font-weight: 300;
      position: relative;
      input,
      textarea {
        outline: none;
        padding: 10px;
        border-radius: var(--borderRadius);
        background-color: rgba(255, 255, 255, 0.35);
        padding: 5px 10px;
        font-size: 1rem;
        color: #fafafa;
        font-weight: 300;
        &:focus {
          outline: 0.5px solid var(--corDestaque);
        }
      }
      textarea {
        resize: none;
        height: 120px;
        padding: 10px;
      }
    }
  }
  .botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    button {
      padding: 15px 20px;
      font-size: 1rem;
      border-radius: var(--borderRadius);
      background-color: var(--corDestaque);
      color: var(--branco);
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        background-color: var(--preto);
      }
      &:disabled {
        opacity: 0.5;
        cursor: wait;
        &:hover {
          background-color: var(--corDestaque);
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: fit-content;
      font-size: 1rem;
      background-color: var(--branco);
      color: var(--corTexto);
      &:hover {
        background-color: var(--preto);
        color: var(--branco);
      }
    }
  }

  @media (max-width: 1024px) {
    min-width: 100%;
  }
  @media (max-width: 600px) {
    .botaoEEmail {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      p {
        align-self: flex-end;
      }
    }
  }
}
