.mainConteiner {
  display: flex;
  align-items: center;
  gap: 120px;
  flex-direction: column;
  padding: 0px 60px 25px 60px;
  // imagem de fundo da section de contato
  section {
    &:last-child {
      background-image: url("../../img/projeto/fundo_contato.png");
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
    }
    //imagem fundo frases
    &:nth-child(3) {
      background: url("../../img/section/detalhes_mensagens.png") center center;
      background-size: cover;
    }
  }

  @media (max-width: 1024px) {
   padding: 0px;
   section {
    &:last-child {
      background-size: cover;
    }
   }
  }
  @media (max-width: 768px) {
    section {
      &:nth-child(3) {
        background-image: none;
      }
    }
  }
}
