.conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  .descricao {
    margin-top: 28px;
    text-align: center;
    font-size: 1.2rem;
  }
  & > a {
    &:last-child {
      font-size: 1.1rem;
      margin: 60px 0px;
      background-color: transparent;
      color: var(--corDestaque);
      border: 1px solid var(--corDestaque);
      font-weight: 300;
      &:hover {
        background-color: var(--corDestaque);
        color: var(--branco);
      }
    }
  }
}
