.footer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 200px;
  background-color: var(--corTexto);
  @media (max-width:768px) {
    padding-bottom: 100px;
    padding-top: 200px;
  }
}