.conteiner {
  display: flex;
  flex-direction: column;
  color: var(--corTexto);
  .comando {
    font-family: var(--fonteCodigo);
    font-size: 1.3rem;
    font-weight: bold;
    span {
      font-family: var(--fonteCodigo);
      color: var(--corDestaque);
    }
  }
  .nome {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .profissao {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: var(--fonteCodigo);
    margin-bottom: 10px;
    span {
      font-family: var(--fonteCodigo);
      color: var(--corDestaque);
    }
  }
  .texto {
    font-weight: 400;
    margin-top: 20px;
    font-size: 0.9rem;
    max-width: 600px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    margin-top: 23px;
    a {
      background-color: var(--corDestaque);
      &:hover {
        background-color: var(--corTexto) !important;
      }
      &:nth-child(2) {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        gap: 10px;
        color: var(--corDestaque) !important;
        background-color: transparent !important;
        border: 1px solid;
        &:hover {
          color: var(--branco) !important;
          background-color: var(--corTexto) !important;
          border-color: var(--corTexto) !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .nome {
      font-size: 2.5rem;
    }
    .profissao {
      font-size: 1.4rem;
    }
    .comando {
      font-size: 1.2rem;
    }
  }
}
