@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: var(--fontePrincipal);
}

:root {
  --fontePrincipal: 'Poppins', Arial, sans-serif;
  --fonteCodigo: 'Roboto Mono', monospace;
  --borderRadius: 5px;
  --corDestaque: #608ff3;
  --branco: #fafafa;
  --conteinerFundo: #f1f1f1;
  --corHeader: rgba(255, 255, 255, 0.425);
  --corTexto: #333333;
  --preto: #1e1e1e;
  --fundoFooter: #272727;
}


@media(prefers-color-scheme: dark) {
  :root {
    --corDestaque: #608ff3;
    --branco: #1E1E1E;
    --conteinerFundo: #212121;
    --corTexto: #DFDFDF;
    --corHeader: rgba(26, 26, 26, 0.87);
    --preto: #F6F6F6;
    --fundoFooter: #1e1e1e;
  }
}

section,
footer {
  padding: 0px 57px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

a.link {
  color: var(--corDestaque);
}

img {
  display: block;
  width: 100%;
}

ul,
li {
  list-style: none;
}

body {
  padding-top: 90px;
  background-color: var(--conteinerFundo);
  @media (max-width:768px) {
    padding-top: 20px;
  }
}


