@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: var(--fontePrincipal);
}

:root {
  --fontePrincipal: 'Poppins', Arial, sans-serif;
  --borderRadius: 20px;
  --corDestaque: #f95252;
  --branco: #fff;
  --conteinerFundo: #f5f5f596;
  --corTexto: #333333;
  --preto: #1E1E1E;
  --projeto01: #f7f0ff;
  --projeto02: #f0fff7;
  --projeto03: #f0fcff;
}

section,
footer {
  padding: 0px 70px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

a.link {
  color: var(--corDestaque);
}

img {
  display: block;
  width: 100%;
}

ul, li {
  list-style: none;
}